<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
      <div class="row main">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h3 class="title">欢迎回到这里</h3>
            <hr />
          </div>
        </div>
        <div class="main-login main-center">
          <form class="form-horizontal" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate role="form">

            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="username" class="cols-sm-2 control-label">用户名</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-users fa" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="model.username" #username="ngModel" name="username" id="username" placeholder="输入你的用户名" required/>
                </div>
              </div>
            </div>

            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="password" class="cols-sm-2 control-label">密码</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" [(ngModel)]="model.password" #password="ngModel" name="password" id="password" placeholder="输入你的密码" required/>
                </div>
              </div>
            </div>

            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !codevalidate.valid }">
                <label for="volidate" class="cols-sm-2 control-label">验证码</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" [(ngModel)]="model.codevalidate" #codevalidate="ngModel" name="volidate" id="volidate"  placeholder="输入你看到的图片验证码" required/>
                  </div>
                </div>
              </div>

              <div class="form-group">
                  <button type="button" (click)="getCodeValidate()"  class="btn btn-default  btn-lg ">切换验证码</button>
                  <img src="{{imageCode}}" align=center  alt="验证码" />
              </div>

						<div class="form-group ">
                <button type="submit"  [disabled]="loading" class="btn btn-primary btn-lg btn-block login-button">登录</button>
              </div>

              <div class="login-register">
                  <a [routerLink]="['/auth/confirm-forget-pwd']" class="btn btn-link">忘记密码</a>
               </div>

          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 column">
      </div>
  </div>


</div>