<div class="container">
    <div class="row clearfix">
        <div class="col-md-12  ">
            <div class="center-block">
                <h2 class="text-center">
                    分类
                </h2>
            </div>
            <div class="row clearfix">
                <div class="col-md-3  hidden-xs hidden-sm">
                </div>
                <div class="col-md-5  col-xs-12 col-sm-12 ">
                    <div class="receipt-main  col-md-12 col-md-offset-1  ">
                        <ul class="blog-list">
                            <li *ngFor="let data of asyncDatas | paginate: { id: 'server', itemsPerPage: 15, currentPage: p, totalItems: total }">
                                <h3>
                                    <a routerLinkActive="active" style="color:darkturquoise" [routerLink]="['/blog-search-show','title:'+data.title]"><small>{{data.title}}</small></a>
                                </h3>
                            </li>
                        </ul>
                        <div class="has-text-centered">
                            <pagination-controls (pageChange)="getPage($event)" id="server"></pagination-controls>
                        </div>
                    </div>
                </div>
                <div class="col-md-4  hidden-xs hidden-sm">
                </div>
            </div>
        </div>
    </div>
</div>