# See http://help.github.com/ignore-files/ for more about ignoring files.
 
# e2e
/e2e/*.js
/e2e/*.map

# src

# 暂时这样 后期会有需要再改
*js
*js.map
!karma.conf.js
!protractor.conf.js


dist/
dist.tar
dist.tar.gz
node_modules/
npm-debug.log*
yarn-error.log*

# IDEs
.idea/
jsconfig.json
.vscode/

# Typings file.
typings/

# Misc
tmp/

# Mac OSX Finder files.
**/.DS_Store
.DS_Store

!.gitignore 
 
