<nav class="navbar navbar-default" style="background-color: #ffffff;">
  <div class="container-fluid">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> 
          <a class="navbar-brand hidden-xs hidden-sm"  href="javascript:void(0)" style="color:rgb(255, 255, 255);" >这里是彩蛋位置</a>
      <a class="navbar-brand "  routerLink="/index" style="color:blue" routerLinkActive="active">三山博客</a>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <ul class="nav navbar-nav   hidden-xs hidden-sm ">
        <li>
          <a routerLink="/index" routerLinkActive="active">首页
          </a>
        </li>
      </ul>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav ">
            <li >
              <!-- TODO 完成关于页 -->
              <a routerLink="/about" routerLinkActive="active">关于</a>
            </li>
          </ul>
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form  navbar-left" role="form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="站内搜索">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
          <!-- /input-group -->
        </form>
        <li *ngIf="!isLogin()">
        </li>
        <li *ngIf="!isLogin()">
          <a routerLink="login" style="color:blue" routerLinkActive="active">登录</a>
        </li>
        <li *ngIf="!isLogin()">
          <a routerLink="register" style="color:blue" routerLinkActive="active">注册</a>
        </li>
        <li *ngIf="isLogin()">
          <a routerLink="admin/index" routerLinkActive="active">后台</a>
        </li>
        <li *ngIf="isLogin()">
          <a routerLink="/" (click)="logout()" routerLinkActive="active">
            退出登录 </a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">更多功能
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li *ngIf="isLogin()">
              <a routerLink="admin/editor" routerLinkActive="active">编辑器</a>
            </li>
            <li *ngIf="isLogin()">
              <a href="javascript:void(0)">赞数变化</a>
            </li>
            <li *ngIf="isLogin()">
              <a href="javascript:void(0)">评论管理</a>
            </li>
            <li role="separator" class="divider"></li>
            <li *ngIf="!isLogin()">
              <a routerLink="login" routerLinkActive="active">请登录</a>
            </li>
            <li *ngIf="isLogin()">
              <a href="javascript:void(0)">{{MoreFunction}}</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>