
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <h2 align="center">选择编辑器</h2>
      <div align="center"> <h2    >{{ceshi}}</h2></div>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-6 column">
      <div class="jumbotron">
        <h1>
          开始, 编辑!
        </h1>
        <p>
          UEditor是由百度web前端研发部开发所见即所得富文本web编辑器，具有轻量，可定制，注重用户体验等特点，开源基于MIT协议，允许自由使用和修改代码...
        <br />
          它是开源免费的
        </p>
        <p>
          <a routerLink="/admin/editor/ueditor-editor" routerLinkActive="active">Ueditor 编辑器</a>
        </p>
      </div>
    </div>
    <div class="col-md-6 column">
      <div class="jumbotron">
        <h1>
          开始, 编辑!
        </h1>
        <p>
          Markdown 是一种轻量级标记语言，创始人为约翰·格鲁伯（John Gruber）。它允许人们“使用易读易写的纯文本格式编写文档，然后转换成有效的XHTML(或者HTML)文档”。这种语言吸收了很多在电子邮件中已有的纯文本标记的特性。
        </p>
        <p>
          <a routerLink="/admin/editor/markdown-editor" routerLinkActive="active">Markdown 编辑器</a>
        </p>
      </div>
    </div>
  </div>
</div>
