<div class="container" style="background-color:#ffffff">
    <div class="row" style="background-color:#ffffff">
      <div class="col-md-12 " style="background-color:#ffffff">
        <h3 class="text-center" >关于三山博客</h3>
 
                <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <blockquote>
                                    <p>
                                        站点的代码在我的Github上 <a href="https://github.com/SanShanYouJiu">地址</a>
                                      <br>
                                       </p>
                                    <small>sanshanyoujiu/三山</small>
                                </blockquote>
                            </div>
                        </div>
                    </div>
    
        <ul class="timeline">
          <li>
            <!-- <div class="timeline-image"> -->
              <!-- <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/1" alt=""> -->
            <!-- </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>完善稳定的服务</h4>
                <h4 class="subheading">80%</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  在测试环境在1核心2G的系统环境中
                  测试目标 1000请求 300并发下 
                  主要服务(验证码除外) 200-500 的QPS 服务支持
                  <br />
                  另外也提供了完善的用户服务支持 
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <!-- <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/2" alt="">
            </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>搜索功能</h4>
                <h4 class="subheading">80%</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                  在几个次关键字上做了倒排索引 方便您在主页的标签等栏目进行高速查询 
                  <br />
                  在不足的地方使用了ElasticSearch作为搜索引擎 索引了所有播客与用户信息 您可以在这里搜到您想要的信息
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <!-- <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/3" alt="">
            </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>高伸缩分布式的良好支持</h4>
                <h4 class="subheading">80%</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                 微服务架构 7个应用程序 6个服务 极易扩展 docker容器 docker-compose编排 一键开启整体项目 
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li class="timeline-inverted">
            <!-- <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/4" alt="">
            </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>俩种编辑器支持</h4>
                <h4 class="subheading">90%</h4>
              </div>
              <div class="timeline-body">
                <p class="text-muted">
                   分别支持markdown与富文本的方式 富文本采用百度的ueditor 文件上传在七牛云中 推荐使用markdown 带宽昂贵 价格高昂
                </p>
              </div>
            </div>
            <div class="line"></div>
          </li>
          <li>
            <!-- <div class="timeline-image">
              <img class="img-circle img-responsive" src="http://lorempixel.com/250/250/cats/5" alt="">
            </div> -->
            <div class="timeline-panel">
              <div class="timeline-heading">
                  <h4>点赞功能</h4>
                  <h4 class="subheading">70%</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">
                    您可以在任意的博客使用点赞功能 分别有赞与踩俩个动作 不需要注册用户即可使用（由于是使用ip定位的原因 在国内的情况下一个匿名用户可以在不同时间点赞同一博客) 
                    <br />
                    在后台您可以分析博客点赞情况 对自己的博客受欢迎程度进行判断
                  </p>
                </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>