<div >
<div class=" alert alert-info" style=" width:450px;height:35px;padding-top:0px;padding-left:0;margin-bottom:0;margin-top:10px" align="">
  <button type="button" class=" btn btn-link" data-toggle="collapse" data-target="#demo1"><span class=" glyphicon glyphicon-plus"></span></button>
  <span>这是一级标题</span>
  <input type="checkbox" name=" pageid" value=""style=" float:right; margin-top:10px">
</div>
<div id="demo1" class="collapse in" style=" margin-left:40px;margin-bottom:10px;margin-top:0px">
  <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
    <span>这是二级标题</span>
    <input type="checkbox" name=" pageid" value="" style=" float:right;">
  </div>
  <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
    <span>这是二级标题</span>
    <input type="checkbox" name=" pageid" value="" style=" float:right;">
  </div>
  <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
    <span>这是二级标题</span>
    <input type="checkbox" name=" pageid" value="" style=" float:right;">
  </div>
  <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
    <span>这是二级标题</span>
    <input type="checkbox" name=" pageid" value="" style=" float:right;">
  </div>
</div>
  <div class=" alert alert-info" style=" width:450px;height:35px;padding-top:0px;padding-left:0;margin-bottom:0;margin-top:10px" align="">
    <button type="button" class=" btn btn-link" data-toggle="collapse" data-target="#demo2"><span class=" glyphicon glyphicon-plus"></span></button>
    <span>这是一级标题</span>
    <input type="checkbox" name=" pageid" value=""style=" float:right; margin-top:10px">
  </div>
  <div id="demo2" class="collapse in" style=" margin-left:40px;margin-bottom:10px;margin-top:0px">
    <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
      <span>这是二级标题</span>
      <input type="checkbox" name=" pageid" value="" style=" float:right;">
    </div>
    <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
      <span>二级标签</span>
      <input type="checkbox" name=" pageid" value="" style=" float:right;">
    </div>
    <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
      <span>二级标签</span>
      <input type="checkbox" name=" pageid" value="" style=" float:right;">
    </div>
    <div class=" alert alert-info" style=" margin-top:10px; width:410px; height:35px; padding-top:7px; padding-left:15px; margin-bottom:0">
      <a routerLinkActive="active" routerLink="/error">标签地址</a>
    </div>
  </div>

</div>
