<h1 align="center">修改密码</h1>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <form class="form-horizontal" role="form" novalidate (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
        <div class="form-group" [ngClass]="{'has-error':f.submitted && !password.valid}">
          <label for="inputpassword" class="col-sm-2 control-label">新的密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="model.password" id="inputpassword" required />
               <div *ngIf="f.submitted && !password.valid" class="help-block">请输入密码</div>
          </div>
        </div>
        <div class="form-group"[ngClass]="{'has-error':f.submitted && !password2.valid}" >
          <label for="inputpassword2" class="col-sm-2 control-label">重复新的密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" name="password2" #password2="ngModel" [(ngModel)]="model.password2" id="inputpassword2" required/>
            <div *ngIf="f.submitted && !password2.valid" class="help-block">请输入密码</div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">确定</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>