<h1 align="center">找回账号密码</h1>
<div class=" container ">
	<div class="row clearfix ">
		<div class="col-md-12 column ">
			<form class="form-horizontal " role="form " #f="ngForm" novalidate (ngSubmit)="f.form.valid && onSubmit()" >
				<div class="form-group " [ngClass]="{'has-error':f.submitted && !email.valid}">
					 <label for="inputusername3 " class="col-sm-2 control-label ">登录名</label>
					<div class="col-sm-10 ">
						<input type="text " class="form-control " id="inputusername3 " [(ngModel)]="model.email" name="email" #email="ngModel" placeholder="请输入注册时的邮箱 "  required/>
					    <div *ngIf="f.submitted && !email.valid">请输入登录名</div>
					</div>
				</div>
				<div class="form-group " [ngClass]="{'has-error':f.submitted && !code.valid}">
					 <label for="inputcode " class="col-sm-2 control-label ">验证码</label>
					<div class="col-sm-10 ">
						<input type="text " class="form-control "   [(ngModel)]="model.code" name="code"  #code="ngModel" id="inputcode " required />
						<div *ngIf="f.submitted && !code.valid">请输入验证码</div>
                        <div><img src="{{imageCode}}"></div>
					</div>
				</div>
				<div class="form-group ">
					<div class="col-sm-offset-2 col-sm-10 ">
						 <button type="submit " class="btn btn-default ">立即验证</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
