<div class="container">
  <div class="row clearfix">
    <div class="col-md-4 column">
    </div>
    <div class="col-md-4 column">
      <div class="row main">
        <div class="panel-heading">
          <div class="panel-title text-center">
            <h3 class="title">给与你的智慧</h3>
            <hr />
          </div>
        </div>
        <div class="main-login main-center">
          <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" role="form" >

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
              <label for="inputUsername" class="cols-sm-2 control-label">用户名</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-users fa" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="model.username" name="username"  id="inputUsername"  #username="ngModel" placeholder="输入你的用户名"
                  required />
                </div>
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
              <label for="inputEmail" class="cols-sm-2 control-label">邮箱</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-envelope fa" aria-hidden="true"></i>
                  </span>
                  <input type="text" class="form-control" [(ngModel)]="model.email" name="email" #email="ngModel" id="inputEmail" placeholder="输入你的邮箱" required/>
                </div>
              </div>
            </div>

            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !password.valid }">
              <label for="inputPassword" class="cols-sm-2 control-label">密码</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" [(ngModel)]="model.password" name="password"  #password="ngModel" id="inputPassword" placeholder="密码不少于6位"
                  required  />
                </div>
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !confim.valid }">
              <label for="inputconfim" class="cols-sm-2 control-label">确认密码</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="password" class="form-control" [(ngModel)]="repeatPassword" name="confim" #confim="ngModel" id="inputconfim" placeholder="确认密码" required />
                </div>
              </div>
            </div>
            <div class="form-group"  [ngClass]="{ 'has-error': f.submitted && !codevalidate.valid }">
              <label for="authcode" class="cols-sm-2 control-label">验证码</label>
              <div class="cols-sm-10">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
                  </span>
                  <input type="type" class="form-control" name="codevalidate" #codevalidate="ngModel" [(ngModel)]="model.codevalidate" id="authcode" placeholder="输入你看到的验证码" required/>
                </div>
              </div>
            </div>

            <div class="form-group" > 
              <button type="button" (click)="getCodeValidate()" class="btn btn-default  btn-lg ">切换验证码</button>
              <img src="{{imageCode}}" align=center alt="验证码" />
            </div>

            <div class="form-group ">
              <button type="submit"  [disabled]="loading" class="btn btn-primary btn-lg btn-block login-button">注册</button>
            </div>

            <div class="login-register">
                <a [routerLink]="['/login']" class="btn btn-link">登录</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4 column">
      </div>
  </div>
</div>