<h1 class="text-center"> 更新页面 </h1>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="tabbable" id="tabs-787552">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#panel-459527" data-toggle="tab">原文</a>
                    </li>
                    <li>
                        <a href="#panel-370674" data-toggle="tab">更改</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="panel-459527">
                        <div class="container" *ngIf="blog">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <div class="row clearfix">
                                        <div class="col-md-2 column">
                                        </div>
                                        <div class="col-md-9 column">
                                            <h1> {{blog.title}}</h1>
                                            <em>标签为:{{blog.tag}}</em>
                                            <em>时间为:{{blog.time}}</em>
                                            <em>类型为:{{blog.type}}</em>
                                            <em>作者为:{{blog.user}}</em>
                                            <div *ngIf="markdownblog!=null" [innerHtml]="markdownblog.content">
                                            </div>
                                            <div *ngIf="uEditorBlog!=null" [innerHtml]="uEditorBlog.content">
                                            </div>
                                        </div>
                                        <div class="col-md-2 column">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="panel-370674">
                        <div class="container">
                            <div class="row clearfix" align=center>
                                <div class="col-md-12 column">
                                    <div class="row clearfix">
                                        <div class="col-md-2 column">
                                        </div>
                                        <div class="col-md-8 column">
                                            <form class="form-horizontal" (ngSubmit)="f.form.valid && updateBlog()" #f="ngForm" novalidate role="form">
                                                <div class="form-group">
                                                   <h2>标题</h2> 
                                                    <input type="text" name="title" [(ngModel)]="model.title"   class="form-control" placeholder="{{blog.title}}" id="update-title"  />
                                                </div>
                                                <div class="form-group">
                                                       <h4> 标签</h4>
                                                    <input type="text" name="tag" [(ngModel)]="model.tag"  class="form-control"
                                                        placeholder="{{blog.tag}}" id="update-tag" />
                                                </div>
                                                <div class="form-group">
                                                     <h4>内容</h4> 
                                                    <textarea id="content" name="content"  [(ngModel)]="model.content" cols="100" placeholder="{{blog.content}}" rows="25"></textarea>
                                                </div>

                                                <button [disabled]="loading" type="submit" class="btn btn-default">提交更新</button>
                                                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                                                />
                                            </form>
                                        </div>
                                        <div class="col-md-2 column">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>