<div class="container">
  <div class="row clearfix">
    <div class="col-md-2 column">
      <div class="container">
        <div class="row clearfix">
          <div class="col-md-12 column">
            <div class="btn-group btn-group-vertical btn-group-lg">
              <button class="btn btn-default" type="button">
                <a routerLinkActive="active" routerLink="/blog-date">
                  <em class="glyphicon glyphicon-th-list"></em> 归档</a>
              </button>
              <button class="btn btn-default" type="button">
                <a routerLinkActive="active" routerLink="/blog-title">
                  <em class="glyphicon glyphicon-th-list"></em> 分类
                </a>
              </button>
              <button class="btn btn-default" type="button">
                <a routerLinkActive="active" routerLink="/blog-tag">
                  <em class="glyphicon glyphicon-th-list"></em> 标签
                </a>
              </button>
              <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=wba2tu-59PXy8-D28oGwsO_irqw">
                <button class="btn btn-default" type="button">
                  <em class="glyphicon glyphicon-envelope"></em> 投诉建议
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-md-12 column">
          </div>
        </div>
      </div>

    </div>
    <style>
      .my-pagination /deep/ .ngx-pagination .current {
        background: greenyellow;
      }
    </style>




    <div class="col-md-6 column">
      <ul class="meal-list">
        <li *ngFor="let blog of asyncBlogs | paginate: { id: 'server', itemsPerPage: 8, currentPage: p, totalItems: total }">
          <h3>{{blog.title}}</h3>
          <a routerLinkActive="active" [routerLink]="['/blog-detail',blog.id]">查看更多</a>
        </li>
      </ul>
      <div class="has-text-centered">
        <div class="spinner" [ngClass]="{ 'hidden': !loading }"></div>
        <pagination-controls class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>
      </div>

    </div>
    <div class="col-md-4 column">
      <blockquote>
        <p>
          这是一个人无聊弄出的博客
        </p>
        <small>就是 <cite>有点不好看</cite></small>
      </blockquote>
      <img alt="140x140" src="assets/images/defaultHomePage.jpg" class="img-circle" />
      <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4>
          如果您有什么建议的话
        </h4> <strong>注意!</strong> 可以在下方进行反馈 <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=wba2tu-59PXy8-D28oGwsO_irqw"
          class="alert-link">当然也可以直接Email我</a>
      </div>
      <div class="row clearfix">
        <form class="form-horizontal" enctype="multipart/form-data">
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <label for="exampleInputEmail1">您的Email</label><input type="email" class="form-control" id="exampleInputEmail1"
                  #emailfeedback required placeholder="在此输入" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-xs-12">
                <label for="exampleInputPassword1">您的意见</label><input type="text" class="form-control" id="exampleInputPassword1"
                  #opinionfeedback placeholder="在此输入" />
              </div>
            </div>
          </div>
          <!-- <div class="form-group">
            <label for="InputFile">选择文件</label> <input type="file" id="InputFile" accept="image/jpeg,image/gif,image/png" ng2FileSelect [uploader]="uploader"
              (change)="changeFileFlag()" />
            <p class="help-block">
              您可以选择图片来进行补充说明 注意 图片不能大于2M 
            </p> 
          </div> -->
          <div class="checkbox">
          </div> <button type="submit" class="btn btn-default" (click)="feedback()">反馈</button>
        </form>

      </div>
    </div>
  </div>
</div>