<div class="index-one" style="height: 100vh">
  <div class="container-fluid text-center animated fadeInDown" style="margin-top: 5%">
    <h1 class="logo-name">三山博客</h1>
    <h3>网页找不到了...</h3>
  </div>
  <div class="row animated fadeInUp">
    <div class="input-group">
      <br/>
      <a href="javascript:void(0);" onClick="history.back(-1);" class="btn btn-primary">
        <i class="fa fa-backward"></i>&nbsp;&nbsp;返回</a>
      <a routerLink="/" class="btn btn-primary"><i class="fa fa-home"></i>&nbsp;&nbsp;主页</a>
    </div>
  </div>
</div>
