.index-one {
  background-size: cover;
  position: relative;
  max-width: 100vw;
  min-height: 96vh;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.input-group{
  margin: 0 auto;
  text-align: center;
}
.input-group a{
  margin-left: 10px;
}
